  <app-layout-login
    title="Cinema Muzi"
    primaryBtnText="Entrar"
    secondaryBtnText="Login"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!registerForm.valid"
  >
  <form [formGroup]="registerForm">
    <app-input-primary
      formControlName="login"
      inputName="login"
      type="login"
      label="Email"
      placeholder="Digite seu email"
    >
      <img src="../../../assets/svg/email-icon.svg" alt="Ícone de email">
    </app-input-primary>
    <app-input-primary
      formControlName="password"
      inputName="password"
      type="password"
      label="Senha"
      placeholder="Digite sua senha"
    >
      <img src="../../../assets/svg/password-icon.svg" alt="Ícone de email">
    </app-input-primary>
    <app-input-primary
      formControlName="passwordConfirm"
      inputName="passwordConfirm"
      type="password"
      label="Confirme sua senha"
      placeholder="Confirme sua senha"
    >
      <img src="../../../assets/svg/password-icon.svg" alt="Ícone de email">
    </app-input-primary>
    <span>Esqueceu sua senha?</span>
  </form>
  </app-layout-login>
