<mat-toolbar>
  <span>Preencha abaixo as informações do filme para ser listado</span>
</mat-toolbar>
<mat-card>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Nome do Filme</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Selecione o idioma:</mat-label>
      <mat-select formControlName="language">
        <mat-option value="empty"></mat-option>
        <mat-option value="dublado">Dublado</mat-option>
        <mat-option value="legendado">Legendado</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Horário da sessão</mat-label>
      <input matInput formControlName="hours" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Link da imagem</mat-label>
      <input matInput formControlName="img" />
    </mat-form-field>
  </form>
  <mat-card-actions>
    <button mat-raised-button (click)="onSubmit()">Salvar</button>>
    <button mat-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
